<app-filter (selectedFilterRadioButtonChanged)="selectedFilterRadioButton=$event" [all]="totalProductsCount" [inStock]="inStockCount" [outOfStock]="outOfStockCount"></app-filter>
<div class="ekart--products-container">
    <!-- selectedFilterRadioButton === 'all' || product.is_in_inventory.toString() === selectedFilterRadioButton -->
    @for(product of products; track product) {
        @if(product.name.toLowerCase().includes(searchText)) { 
            <app-product [product]="product" (click)="selectedProduct=product"></app-product>
        }
    }
</div>


